.features{
    padding:80px 110px;
    gap: 30px;
    padding-top: 20px;
    margin-top: 50px;
  }
  .features__item{
    width: 400px;
  }
  .features__item-title{
    font-size: 18px;
    font-weight: 500;
  }
  .features__item-description{
    line-height: 22px;
  }
  .features__item-icon{
    color: #0AAD0A;
  }
  
.features_lists-skeleton{
  flex-direction: row;
}
.features__item-skeleton {
  flex-direction: column;
  width:23% ;
  padding: 20px 10px;
  box-shadow: 0px 0px 0px 2px rgba(black, black, black, 0.8);
}

.features__item-icon-skeleton, .features__item-title-skeleton, .features__item-description-skeleton {
  border-radius: 4px;
  background-image: linear-gradient(285deg, #f3f2f2 25%, #e0e0e0 50%, #f3f2f2 75%);
  background-size: 200% 100%; 
  animation: shimmer 1.5s infinite;
}

.features__item-icon-skeleton {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.features__item-title-skeleton {
  width: 60%;
  height: 30px;
  margin-bottom: 10px;
}

.features__item-description-skeleton {
  width: 80%;
  height: 35px;
  margin-bottom: 10px;
}


  @media (max-width: 768px) {

  .features{
    flex-direction: column;
    padding: 10px 20px;
    margin:50px 0px;
    margin-top: 0px;
    gap: 40px;
  }
  .features__item{
    width: 100%;
  }
.features_lists-skeleton{
  display: flex;
  flex-direction: column;
}
.features__item-skeleton {
width: 100%;
}
}