.footer {
  background-color: #f5f7f8;
  padding: 60px 110px;
}

.footer__column {
  min-width: 170px;
}

.footer__column-heading {
  color: #2C3E50;
}

.footer__column-item {
  font-size: 12px;
  transition: 0.3s ease-in-out;
}

.footer__column-item:hover {
  background: none;
  color: #0AAD0A;
  cursor: pointer;
}

.footer__bottom {
  flex-direction: row;
}

.footer__payment-partner-logo {
  width: 40px;
  height: auto;
}

.footer__app-links {
  align-items: center;
  width: 820px;
  font-size: 14px;
  font-weight: 600;  
}

.footer__app-link-logo {
  width: 120px;
  height: auto;
}

.footer__highlight {
  color: #0AAD0A;
}
.footer__last{
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}
.footer__last-text{
  font-size: 12px;
}
.footer__social-icon{
  font-size: 20px;
  border: 1px solid #5c6c75a5;
  padding: 8px;
  margin: 0px 5px;
  border-radius: 15px;
}
.buy-now{
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 650;
  background: #03161f;
  border-radius: 8px;
  bottom: 50px;
  position: fixed;
  right: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.buy-now:hover{
  background: #03161fe0;
}
@media (max-width: 768px) {
.footer__bottom{
  flex-direction: column;
}
.footer__content{
  /* border: 2px solid red; */
  width: 100%;
  padding-left: 10px;
  padding-right: 0;
  margin-right: 0;
}
.footer{
  padding: 0;
  padding: 80px 10px;
}
.footer__app-links{
  margin: 0;
  padding: 0px 10px;
  width: 100%;
  flex-direction: column;
  align-items: start;
}
.footer__last{
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-size: 12px;
  padding: 30px 10px;

}
.footer__social-icon{
  font-size: 15px;
  border-radius: 8px;
  padding: 5px;
}
.footer__payment-partners{
  padding: 0px 9px;
}
.buy-now{
  /* border: 2px solid red; */
  font-size: 15px;
}
}
@media (max-width:340px){
  .footer__payment-partners{
    flex-direction: column;
  }
}

.loader-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  margin-top: -30px;
  margin-bottom: 30px;
}
.loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #0AAD0A;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }