.searchbar{
    flex-direction: row;
    padding: 5px 110px;  
  }

  .searchbar__sidebar {
    top: 0;
    left: -500%;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    padding: 20px;
    z-index: 999;
  }

  .searchbar__sidebar--open {
    left: 0;
  }

  .searchbar__sidebar-top{
    padding: 15px 0px;
  }
  
  .searchbar__logo{
    height: 30px;
  }

  .searchbar__close-icon {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .searchbar__input {
    padding: 5px;
    flex: 1;
  }

  .searchbar__input-field {
    border: none;
    outline: none;
    flex: 1;
  }

  .fa-magnifying-glass{
    top: 17px;
    right: 15px;
  }

  .searchbar__dropdown{
    transition: 0.3s ease-in-out;
  }
  .searchbar__dropdown-heading{
    cursor:pointer;
    padding: 10px 15px;
    background: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
  }
  .searchbar__dropdown-heading:hover{
    color: green;
  }
  .searchbar__dropdown-options{
    display: none;
    left: 10px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 1;
    padding: 5px;
    transition: 0.3s ease-in-out;
    animation: popUp 0.3s ease forwards;
    /* border: 2px solid red; */
  }
  .searchbar__dropdown-option{
    margin: 0;
    padding: 10px 13px;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    margin: 0px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #5C6C75;
  }
  .searchbar__dropdown-option:hover{
    background: #f0f0f0;
    color: black;
  }
  .searchbar__dropdown:hover .searchbar__dropdown-options,
  .searchbar__dropdown:focus-within .searchbar__dropdown-options {
    display: block;
    animation: popUp 0.4s ease forwards;
  }
  
  @keyframes popUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .All-Depts{
    background: #0AAD0A;
    color: white;
    padding: 12px 29px;
  }
  .All-Depts:hover{
    background: #018801;
    color: white;
  }
  .searchbar__dropdown-options--mega{
    display: none;
    width: 1100px;
    left: -510px;
    gap: 30px;
    top: 130%;
  }
  .searchbar__menu-column{
    width: fit-content;
    padding: 10px;
    gap: 20px;
  }
  .searchbar__menu-heading{
    color: #0AAD0A;
  }
  .searchbar__menu-lists{
    gap: 10px;
  }
  .searchbar__menu-item{
    cursor: pointer;
    padding: 6px 10px;
    color: #5C6C75;
    transition: 0.3s ease-in-out;
    font-weight:500;
    font-size: 14px;
  }
 .searchbar__menu-item:hover{
    background:#f0f0f0;
    color: black;
  }

  .searchbar__megamenu-img{
    height: 350px;
  }

  .searchbar__offer{
    position: absolute;
    top: 40px;
    font-size: 19px;
    padding: 0px 10px;
  }
  .searchbar__offer-btn{
    margin: 0px 10px;
    top: 100px;
    padding: 5px 10px;
    background: #0AAD0A;
    transition: 0.3s ease-in-out;
  }
  .searchbar__offer-btn:hover{
    background: #018801;
  }

  .searchbar__left{
    gap: 30px;
  }

  .searchbar__main {
    display: flex;
    padding: 10px;
  }
  
  .searchbar__input-field {
    outline: none;
    flex: 1;
    padding: 8px 16px;
    width: 550px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    border: 1px solid #5c6c7543;
  }
  
  .searchbar__location-btn {
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid #5c6c7543;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    color: #5c6c75a5;
    transition: 0.3s ease-in-out;
    background: white;
  }

  .searchbar__location-btn:hover{
    background: #5c6c7543;
    color: black;
  }
  
  .searchbar__menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  .searchbar__options{
    gap: 15px;
    font-size: 14px;
  }
  .searchbar__options-icon{
    padding: 8px;
    font-size: 18px;
  }
  .searchbar__options-count{
    top: 0;
    padding: 2px 6px;
    font-size: 16px;
    background: #198754;
  }
  .fa-user{
    margin-right: -15px;
  }
  @media (max-width: 768px) {

    .searchbar{
        padding: 20px 20px;
        font-size: 14px;
        border-bottom: 1px solid #5c6c7523;
      }
      .searchbar__sidebar {
        display: block;
        overflow: scroll;
      }
      .searchbar__close-icon{
        padding: 0;
        margin: 0;
      }
      .searchbar__main{
        display: none;
      }
      .searchbar__input{
        margin: 20px 0px;
        width: 100%;
        padding: 0px;
      }
      .searchbar__input-field{
        position: relative;
      }
      .fa-magnifying-glass{
        top: 15px;
        
      }
      .searchbar__dropdown:hover .searchbar__dropdown-options--mega{
        display: flex;
        flex-direction: column;
        left: 0;
        width: min-content;
      }
      .searchbar__dropdown-heading{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #5C6C75;
      }
      .All-Depts{
        text-align: center;
         margin: 10px 0px;
         justify-content: center;
         color: white;
         gap: 10px;
      }
      .searchbar__dropdown-options{
        top: 70%;
        left: 235px;
        min-width: 150px;
      }
      .searchbar__dropdown-options--mega{
        right: 0;
        margin: 0;
        margin-left: 60px;
        padding: 10px 0px;
      }
      .searchbar__options{
        font-size: 12px;
        gap: 6px;
      }
      .searchbar__menu-icon{
        margin-left:10px ;
        display: block;
      }
      .fa-user{
        margin-left: 8px;
        margin-right: -10px;
      }

}

  
@media (min-width: 769px) {
    .searchbar__sidebar,
    .searchbar__menu-icon {
      display: none;
    }
  }

  @media (max-width:340px){
.searchbar{
flex-direction: column;
}
  }