.topbar{
  padding: 3px 110px;
  justify-content: space-between;
  background: #F0F3F2;
  color: #5C6C75;
  font-weight: 500;
}

.topbar__dropdown{
  transition: 0.3s ease-in-out;
}
.topbar__dropdown-heading{
  font-weight: 500;
  transition: 0.3s ease-in-out;
  display: flex;
}
.topbar__dropdown-heading:hover{
  color: green;
}
.topbar__dropdown-options{
  display: none;
  /* right: 0; */
  background: white;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  animation: popUp 0.3s ease forwards;
}
.topbar__dropdown-option{
  transition: 0.3s ease-in-out;
  font-weight: 500;
  color: #5C6C75;
}
.topbar__dropdown-option:hover{
  background: #f0f0f0;
  color: black;
}

.topbar__dropdown:hover .topbar__dropdown-options,
.topbar__dropdown:focus-within .topbar__dropdown-options {
  display: block;
  animation: popUp 0.4s ease forwards;
}
@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .topbar{
  justify-content: center;
  padding: 6px 0px;
}
.topbar__dropdown{
  display: none;
}
}